<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cats</title>
    <script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script>
</head>
<script>

</script>
<body>
    <h1>EJS Cats</h1>
    <div class="container">
        <a href="/Bubbles"><img src="cat1.jpg" alt="picture of cat1" class="cat1" height="130" width="180"></a>
        <a href="/Choco"><img src="cat2.jpg" alt="picture of cat2" class="cat2" height="130" width="180"></a>
        <a href="/Deedee"><img src="cat3.jpg" alt="picture of cat3" class="cat3" height="130" width="180"></a>
    </div>
</body>
</html>

